*{padding: 0; margin: 0;}
main,section{display: block;}
body {
    background: #f1f1f1;
}
main {
    padding: 40px 0;
}
.form-container {
    width: 50%;
    margin-left: 25%;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.10);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    background: #f04f4e;
    font-weight: 100;
    color: #fff;
    width: 50%;
    margin-left: 25%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 15px;
    font-size: 1.5rem
}
h3 {
    font-size: 1.3rem;
    color: #99999c;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-weight: 100;
}
hr {
    margin-top: 5px;
    border-top: 1px solid #f9f6f6;
}
input:not([type=range]),
textarea,
select {
    width: 100%;
    border-radius: 3px;
    background: #f7f7f7;
    color: #666;
    font-weight: 100;
    padding: 0 10px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}
input:not([type=range]),
select {
    height: 35px;
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    height: 20px;
    margin-top: 5px;
}
input[type=range] {
    min-width: 90%;
    margin-bottom: 15px;
}
input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}
form label {
    color: #999;
    font-weight: 100;
}
input::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 100;
    font-size: 14px;
}
input:-moz-placeholder {
    /* Firefox 18- */

    color: #ccc;
    font-weight: 100;
    font-size: 14px;
}
input::-moz-placeholder {
    /* Firefox 19+ */

    color: #ccc;
    font-weight: 100;
    font-size: 14px;
}
input:-ms-input-placeholder {
    color: #ccc;
    font-weight: 100;
}
